* {
    margin: 0;
    padding: 0;
}

.contenedor-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 50px 20px;
    background-color: #05BFDB;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0 1px 2px black;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo h1 {
    color: #00FFCA;
    text-shadow: 0 0 2px black;
}

.titulo p {
    text-shadow: 0 0 2px black;
    opacity: 0.2;
}

#inicio-seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 50px;
    box-shadow: 0 2px 5px 0.1em red;
    border: 1px solid #088395;
    border-radius: 5px;
    background-color: #0A4D68;
    color: white;
}

.form-inicio {
    margin: 10px;
    padding: 5px;
}
.form-inicio label {
    font-size: 1rem;
    font-weight: 600;
}

#inicio-seccion input {
    padding: 5px;
    border-radius: 2px;
    border: none;
    margin: 5px;
    background-color: #05BFDB;
}

#boton-inicio {
    font-weight: 500;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    border: none;
    background-color: #10e10d;
    cursor: pointer;
}
#boton-inicio:hover {
    background-color: #05BFDB;
    color: white;
}


/* catalogo */

.header-catalogo {
    background-color: #0A4D68;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
}
.titulo-catalogo a {
    text-decoration: none;
    font-size: 2rem;
    color: #00FFCA;
}
.canasta-contenedor:hover .menu-vertical{
    display: block;
}
.menu-vertical {
    border-radius: 2px;
    box-shadow: 0 1px 2px black;
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: white;
    padding: 10px;
}
.table thead th{
    font-size: 1.2rem;
    padding: 5px;
}
.table tbody td a {
    height: 50px;
}
.table tbody td img {
    width: 20px;
}
#vaciar-carrito {
    border-radius: 5px;
    text-decoration: none;
    background-color: red;
    color: black;
}
#procesar-pedido {
    border-radius: 5px;
    text-decoration: none;
    background-color: green;
    color: black;
}

.canasta-contenedor img{
    width: 40px;
}
.canasta-contenedor button{
    margin: 5px;
    background-color: #0A4D68;
    border: none;
    cursor: pointer;
}
.buscador-container {
    display: flex;
    align-items: center;
}
.buscador-container input{
    border: none;
    border-radius: 5px;
    height: 30px;
}
.buscador-container img {
    width: 20px;
    position: relative;
    top: 2px;
}
#buscador {
    border: none;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: #00FFCA;
}
#buscador:hover{
    background-color: #10e10d;
    box-shadow: 0 1px 2px black;
    cursor: pointer;
}
.body-catalogo{
    background-color: #088395;
}
.contenedor-catalogo{
    display: flex;
}
.contenedor-productos{
    background-color: #0A4D68;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.busquedaText {
    font-size: 1.5rem;
    color: white;
    display: none;
}
.button-valor{
    background-color: #FF6D60;
    border-radius: 5px;
    width: 100px;
    padding: 15px;
    margin: 10px;
    border: none;
    cursor: pointer;
}
.button-valor:hover{
    background-color: #00FFCA;
    color: black;
    box-shadow: 0 1px 2px black;
}
#catalogoProductos {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}
.active {
    background-color: #00FFCA;
    box-shadow: 0 1px 2px black;
}
.tarjeta {
    margin: 10px;
}
.contenedor{
    background-color: #05BFDB;
    border-radius: 5px;
    box-shadow: 0 1px 2px black;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}
.contenedor a {
    font-size: 1rem;
    text-decoration: none;
    background-color: #00FFCA;
    padding: 2px;
    border-radius: 5px;
}
.contenedor a:hover{
    background-color: #10e10d;
    box-shadow: 0 1px 2px black;
}
.imagen-contenedor{
    align-items: center;
}
.imagen-contenedor img{
    width: 200px;
    height: 200px;
}
.hide {
    display: none;
}


/* estilos para la pagina de compra */

.container-compra{
    padding: 50px;
    background-color: #05BFDB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-compra h1 {
    margin: 5px;
}

#procesar-pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #fffef7;
    width: 80%;
}
.compraCarrito {
    display: flex;
    justify-content: center;
}

.datos-cliente {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.datos-cliente input {
    width: 300px;
}
.datos-cliente label {
    margin-right: 20px;
    font-weight: bold;
}

.tabla thead tr th {
    font-size: 1.2rem;
    padding: 10px;
}
.tabla tbody tr td {
    text-align: center;
}
.total-text {
    display: flex;
}
.borrar-producto{
    border: none;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    color: white;
    font-weight: 800;
}
.cargando-img {
    display: flex;
    justify-content: center;
}
#cargando{
    display: none;
}
.seguir-compra{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.seguirCompra{
    background-color: #05BFDB;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px black;
}
.seguirCompra:hover{
    background-color:  #00FFCA;
    box-shadow: 0 2px 5px black;
}
.seguirCompra a:hover{
    color: white;
}


.seguirCompra a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 800;
}

.realizarCompra {
    background-color: #10e10d;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px black;
}
.realizarCompra:hover {
    background-color: #7cfc00;
    box-shadow: 0 2px 5px black;
}
.realizarCompra button {
    border: none;
    background-color: #10e10d;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 800;
}
.realizarCompra button:hover {
    color: white;
    background-color: #7cfc00;;
}

@media(max-width:500px){
    .titulo-catalogo{
        margin: 10px;
    }
    .header-catalogo {
        flex-direction: column;
    }
    .contenedor-catalogo{
        flex-direction: column;
    }
    .contenedor-productos{
        flex-flow: row wrap;
        height: 200px;
        padding: 5px;
    }
    .button-valor {
        padding: 0;
        font-weight: 800;
        font-size: 0.5rem;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
    }
    .datos-cliente{
        margin: 2px;
    }
    .datos-cliente input{
        width: 100px
    }
    .seguirCompra {
        margin: 5px;
        font-size: 0.8rem;
    }
    .titulo h1{
        text-justify:distribute;
    }
    #inicio-seccion {
        width: auto;

    }
}

@media (max-width: 760px){
    .container-compra{
        padding: 0;
    }
    #procesar-pago {
        width: 100%  ;
    }
}

@media (max-width: 530px){
    .tabla thead tr th {
        font-size: 0.8rem;
        padding: 0;
    }
    .tabla tbody tr td{
        font-size: 0.8rem;
    }
}
